*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
   
}
/*Empieza el Header*/
.header{
    background-color: #fad6f1;
    font-family: 'Lobster', cursive;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    
    
}

.header .header__container li{
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin: 18px 0 0 0;
    padding-left: 2rem;
    
}
.header .header__container__icons li{
    color: #fff;
    font-size: 30px;
    color: #fff; 
    display: inline-block;
    padding-left: 1rem;
}
.header .header__container__icons li a{
    color: #fff;
    font-size: 30px;
    color: #fff; 
    margin:12px 45px 0 0;
    
}
.container_icon{
    width:50px;
    height:50px;
    text-align: center;
    border: 2px solid #fff;
    border-radius:50%;
}
.header .header__container__icons li a:hover{
    transition: all 2.0s ease;
    background-color: #f36ad1;
}   

.fa-brands.container_icon{
    line-height: 50px;
}

/*Termina el Header*/


/*Empieza el Nav*/
/*MENU*/
.container__menu{
    width: 100%;
    height: 120px;
    background-color: gray;
    padding:0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    
}
nav{
    height: 100%;
    
}
nav > ul{
    height: 100%;
    display:flex;
    font-size:0px;
    
}
nav > ul > li{
    height: 100%;
    position:relative;
    font-size: 20px;
}
nav > ul > li > a{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    padding-left:100px;
    margin-left:10px;
    color: #fff;
    transition: all 300ms ease;
    font-family:'Lobster', cursive; 
    
}
nav > ul > li > .nav__carrito{
    display: flex;
    align-items: center;

}
nav > ul > li > a:hover{
    transform:scale(1.1);
    background-color:rgb(221, 220, 220);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    
}
nav ul li a .icon__arriba{
    padding: 0px 0px 0px 10px;
}
/*SUBMENU*/
nav ul li ul{
    width:280px;
    display:flex;
    flex-direction: column;
    background-color: #fff;
    position:absolute;
    margin-top: 50px;
    left: 55px;
    padding: 20px 20px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul {
    visibility:visible;
    opacity:1;
    top:70px;
    
}
nav ul li ul li a{
    display: block;
    color: rgb(241, 191, 239);
    padding: 15px;
    padding-left:20px;
    margin-top: 10px;
    font-size:20px;
    transition: all 300ms ease;
    font-family:'Lobster', cursive; 
}
nav ul li ul li a:hover{
    background:rgb(219, 95, 215);
    color:#fff;
    transition:scale(1.2);
    padding-left: 30px;
    font-size: 25px;
}

/*Termina el Nav*/
/*Empieza el Logo*/
.container__logo{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
    padding: 2rem;
}   
.container__logo .container__logo__img{
    width:25%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
    background-color: rgb(240, 190, 241);

}
/*Termina el Logo*/
.main{
    display: flex;
    justify-content:center;
    width:50%;
    margin: 50px;
    padding: 20px;
    margin-left: 25%;
    background-color: rgb(250, 227, 249);
}
.container__only{
    box-shadow: 0px 0px 5px 0px rgba(167, 32, 149, 1.8);
}

.main .main__titulo{
    font-family: 'Lobster', cursive;
    margin-right: 2rem;
}
.main .main__lista{
    margin-right: 4rem;
}
.main__lista .main__lista__inline{
    display: inline;
    font-size: 30px;

}
.main .main__lista .pillar__column{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    background-color: rgb(255, 255, 255);
    
}
.main .main__lista .pillar__column a{
    color: rgb(0, 0, 0);
    font-size:15px;

}
.main .main__lista .pillar__column:hover{
    transition: all 300ms ease;
    background-color: rgb(230, 132, 208);
}
/*Termina el Main*/
/* Empieza el div titulo productos h2*/
.titulo__productos{
    font-family: 'Questrial', sans-serif; 
    font-size:22px;
    padding:10px 0px 20px 30px;
}
/* Termina el div titulo productos h2*/
/*Empieza el Section*/
.section{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.section .section__columnas{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    
}
.section .section__columnas .section__description{
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664);
    width:50%;
    transition: all 3s ease;
    background-color: rgb(46, 44, 44);
}

.section .section__columnas .section__description a img{
    width:100%;
    
}
.section .section__columnas .section__description .section__description__container{
    font-size: 18px;
    padding: 10px;
    color: rgb(255, 255, 255);
    
}
.section .section__columnas .section__description .section__description__container h3{
    color: rgb(255, 255, 255);
    margin: 10px;
    font-family: "Helvetica Neue", "Helvetica"
    
}
.section .section__columnas .section__description .section__description__container h3:hover{
    transition: all 2s ease;
    background-color: rgb(173, 233, 233);
}

/*Termina el Section*/
/*Empieza caja box__dulce*/
.caja__boxdulce{
    display: flex;
    justify-content:center;
    text-align: center;
    margin:50px 0 30px 0 ;
    
}
.caja__boxdulce .caja__boxdulce__description{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664);
    width:50%;
    background-color: rgb(46, 44, 44);
    font-size: 18px;
}
.caja__boxdulce .caja__boxdulce__description a img{
    width:100%;
}
.caja__boxdulce .caja__boxdulce__description .caja__boxdulce__description__container{
    margin: 10px;
}
.caja__boxdulce .caja__boxdulce__description .caja__boxdulce__description__container h3{
    color: rgb(255, 255, 255);
    margin: 10px;
    font-family: "Helvetica Neue", "Helvetica";
    
    
}
.precio{
    color: #fff;
}
.caja__boxdulce .caja__boxdulce__description .caja__boxdulce__description__container h3:hover{
    transition: all 2s ease;
    background-color: rgb(143, 233, 233);
    
}
/*Termina caja box__dulce*/
/*Empieza el Footer*/
.footer{
    background-color: rgb(26, 25, 25);
    margin-top: 4rem;
    padding: 4rem 1rem 1rem 0;
    border-top:3px solid #f36ad1;
    color: #fff;
    font-family: 'Questrial', sans-serif; 
}
.footer .footer__container{
    padding: 0 2rem 0 0 ;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    
}
.footer .footer__container .footer__logo{
    width:25%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #fff;
}
.footer .footer__container .footer__logo .footer__titulo{
    font-size:40px;
    padding:30px 0 0 30px;
}
.footer .footer__container .footer__logo .footer__logo__principal{
    width:20%;
    padding:30px 0 30px 30px;
}
 .footer__info{
    width:75%;
    padding-left: 5rem;
    align-items:space-between;
    margin-left:50px;
    
}
.footer__info__separacion{
    display: flex;

}
.footer__columna{
    width:35%;
}
.footer__img{
    width:12%;
    padding-top: 20px;
}
.footer .footer__container .footer__info .footer__info__separacion .footer__columna h4{
    font-size: 20px;
}
.footer .footer__container .footer__info .footer__info__separacion .footer__columna .footer__lista1 li {
    display:inline-block;
    padding-top: 30px;
    font-size: 25px;
    width:20%;
    
}
.footer .footer__container .footer__info .footer__info__separacion .footer__columna .footer__lista1 li a{
    color: #fff;
}
.footer .footer__container .footer__info .footer__info__separacion .footer__columna .footer__lista1 li a:hover{
    transition: all 1.0s ease;
    background-color: #a33888;
}
footer .footer__container .footer__info .footer__info__separacion .footer__columna .footer__lista1 li .footer__icon{
    width:50px;
    height:50px;
    text-align: center;
    border: 2px solid #fff;
    border-radius:50%;
}
footer .footer__container .footer__info .footer__info__separacion .footer__columna .footer__lista1 li .fa-brands.footer__icon{
    line-height: 50px;
}
footer .footer__container .footer__info .footer__info__separacion .footer__columna .footer__lista2{
    padding-top: 30px;
}


/*Termina el Footer*/
/*icono whatsapp empieza para todos los HTML*/
.container_icon_whatsapp{
    position: fixed;
    width: 120px;
    height:90px;
    bottom:0;
    right:0;
}
.icon_whatsapp_movible{
    font-size: 80px;
    color: rgb(9, 179, 32);
    border-radius: 10px;
}
/*icono whatsapp termina para todos los HTML*/

/* Empieza Section y div_logo preguntas html */
.caja__preguntas{
    width:100%;
    display: flex;
    justify-content:center;
    margin-top: 50px;
    
}
.caja__preguntas__img{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    width: 20%;
}

.section__preguntas{
    padding: 100px 0 100px 0;
    
}
.section__preguntas__caja{
    width:100%;
    display: flex;
    justify-content:center;
}
.section__preguntas__subcaja{
    padding: 0 20% 0 20%;
    align-content: center;
    align-items: center;
   
}
.section__preguntas__subcaja .section--box{
    position:relative;
    display: flex;
    justify-content:space-between;
    margin-bottom: 10rem;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    box-shadow: 0px 0px 15px rgba(48, 48, 48, 0.8);
    padding:2rem;
}
.section__preguntas__subcaja .section--box2{
    display:flex;
    margin-bottom: 100px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    box-shadow: 0px 0px 15px rgba(48, 48, 48, 0.8);
    padding:2rem;
    position: absolute;
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    margin-top:10px
    
}
.section__preguntas__subcaja :hover .section--box2{
    visibility: visible;
    opacity: 1;
    top:100px;
    transition: all 2s ease;
    color: #f36ad1;
}

.section__flecha__preguntas{
    display: flex;
    justify-content: flex-end;
    padding-left: 2rem;

}
/*CONTENEDOR__REDES__SOCIALES*/
.contenedor__redes__sociales{
    display:none;
}

/* Termina Section preguntas html */ 
/*CARRITO*/
.section__carrito{
    width: 100%;
    height:500px;
    display:flex;
    justify-content:center;
    justify-content:space-between;
    flex-direction:column;
}
.section__carrito h1{
    padding: 5rem 0 0 10rem;
    font-size: 50px;
    
}
.section__carrito__contenedor{
    padding: 5rem 0 0 13rem;
    font-size:20px;
    
}
.section__carrito__subcontenedor{
    border: 2px solid rgb(235, 153, 235);
    width:55%;
    background-color: #f5deef;
    height:80px;
    display:flex;
    border-top: 3px solid rgb(193, 77, 204);
    
}
.section__carrito__subcontenedor .carrito__subcontenedor{
    padding: 20px 0 0 10px;
    font-size: 2rem;
    
}
.section__carrito__subcontenedor h2{
    padding:20px 0 0 30px
    
}
.section__carrito__boton{
    padding: 5rem  0 0 13rem;
}
.section__carrito__volver-tienda{
    font-size:20px;
    border: 2px solid rgb(132, 33, 156);
    color: #fff;
    background-color: rgb(132, 33, 156);
    padding:10px;
    border-radius: 10px;;
}
/*icono__menu*/
.icon__menu{
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
    

}
#label__check{
    width:26px;
    height:100%;
    display: none;
}
#check__menu{
    display: none;
}

/* RESPONSIVE INDEX PREGUNTAS CARRITO CONTACTOS PRODUCTOS*/
@media screen and (max-width:480px){
    /*HEADER*/
    
    .header{
        height:60px;
        width:480px;
        padding: 0;
        margin: 0;
    }
    .header__container img{
        height:25px;
    }
    .header__container li p{
        display:none;
    }
    .header__container .header__container__lista5 img{
        display:none;
    }
    .header__container__icons{
        display:none;

    }
    /*NAVEGACION*/
    .container__menu{
        width:480px;
        padding: 0;
        margin:0;
        height: 90px;
    }
    
    nav > ul {
        flex-direction: column;
        background-color:rgb(161, 157, 157);
        position:fixed;
        left: 0;
        top: 149px;
        width:480px;
        height:0px;
        transition: all 300ms ease;
        opacity: 0;
        visibility: hidden;
        
    }
    nav ul li a{
       padding: 0;
       margin-left: 20px;
       display: flex;
       justify-content: center;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    nav ul li ul{
        left: 80px;
        display: block;
    }
    #label__check{
        display: block;
    }
    .icon__menu{
        display:flex;
        padding: 2px 0 0 10px;

        
    }
    #check__menu:checked ~nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
    /*MAIN*/
    .main{
        width: 80%;
        margin: 8px;
        padding: 10px;
    }
    .main .main__lista{
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }
    .main__lista li{
        display: inline-block;
    }
    .main__lista li a{
        width: 137px;
        display: flex;
        justify-content: center;
        
    }
    /*SECTION*/
    .titulo__productos{
        margin: 30px 0 0 0 ;
        padding:0;
    }
    .section{
        display:grid;
        grid-template-columns: 1fr;
        margin-top:20px;
    }
    .section__columnas{
        margin: center;
    }
    /*FOOTER*/
    .footer{
        width: 480px;
        padding:0;
        margin: 0;
    }
    .footer__container{
        display:flex;
        flex-direction: column;    
    }
    .footer__logo{
        display:flex;
        flex-direction: column;
        padding-bottom: 4rem;
        width: 20%;
        
    }
    .footer__logo__principal{
        display:none;
    }
    .footer__info{
        padding: 0;
        margin: 0;
    }
    .footer__info__separacion{
        display: flex;
        flex-direction: column;
        margin: 20px 0 20px 0;
    }
    .footer__info__separacion img{
        display: inline;
        width: 40%;
    }
    .footer__columna{
        margin:30px;
    }
    .footer__columna h4{
        width:200px;
    }
    .footer__columna .footer__lista1 {
        display:flex;
        justify-content:space-between;
        
    }
    .footer__columna .footer__lista1 li {
        padding-left: 50px;
    }
    
    .footer__columna .footer__lista2 li{
        width:250px;
        padding: 5px;
    } 
    /*ICONO WHATSAPP*/
    .container_icon_whatsapp{
        padding-bottom: 20px;
    }
    /*SECTION PREGUNTAS*/
    .section__carrito{
        display: none;
    }
    .section__preguntas__subcaja{
        padding:0;
        margin: 0;
    }
    .section--box{
        width:350px;
        display:flex;
        margin: auto;
        padding: auto;
    }
    .section--box h3{
        font-size:20px
    }
    .section--box2{
       margin: auto;
       padding: auto;
    }
    .section--box2 p{
        font-size:15px;
    }
    /*SECTION CARRITORY*/
    /*CONTENEDOR REDES SOCIALES*/
    .contenedor__redes__sociales{
        width:480px;
        height:180px;
        display:flex;
        flex-direction: column;
        padding: auto;
        margin: auto;
        background-color: rgb(228, 161, 219);
        color: #fff;

    }
    .contenedor__redes__sociales h4{
        display:flex;
        justify-content:center;
        padding:10px 0 15px 0;
        font-size: 25px;
    }
    .contenedor__redes__sociales p{
        display:flex;
        justify-content:center;
        font-size:15px;
    }
    .contenedor__redes__sociales ul{
        display:flex;
        justify-content:center;
        padding-top: 30px;
        
    }
    .contenedor__redes__sociales ul li{
        padding: 0 30px 0 30px;
        font-size:30px;
        
    }
    .contenedor__redes__sociales ul li a{
        color: #fff;
    }
}


/* Termina Responsive index y preguntas*/
