* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

/*COMPONENTS*/
@import "../componentes/header";
@import "../componentes/nav";
@import "../componentes/main";
@import "../componentes/section";
@import "../componentes/footer";
@import "../componentes/paginas";
@import "../componentes/responsive";

/*BASE*/


@import "../base/condicional";
@import "../base/extends";
@import "../base/listas";
@import "../base/maps";
@import "../base/mixin";
@import "../base/operadores";
@import "../base/variables";