@import "../base/variables";
@import "../base/maps";

* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

/*Empieza el Header*/
.header {
    background-color: nth($colores, 10);
    font-family: 'Lobster', cursive;
    width: $width;
    height: 80px;
    display: flex;
    justify-content: space-between;

    .header__container {
        padding-top: 20px;

        li {
            color: #fff;
            font-size: nth($size, 1);
            color: #fff;
            display: inline-block;
            padding-left: 1rem;

            a {
                color: #fff;
                font-size: 30px;
                color: #fff;
                margin: 12px 45px 0 0;
                text-decoration: none;

            }

            .container_icon {
                width: 50px;
                height: 50px;
                text-align: center;
                border: 2px solid #fff;
                border-radius: 50%;
            }
        }
    }

    .header__container__icons {
        li {
            color: $color;
            font-size: 30px;
            color: #fff;
            display: inline-block;
            padding-left: 1rem;

            a {
                color: #fff;

                * {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    text-decoration: none;
                }

                header {
                    background-color: map-get($header, bg-header);
                    font-family: 'lobster', curie, sans-serif;
                    width: 100%;
                    height: 80px;
                    display: flex;
                    justify-content: space-between;

                    .header__container {
                        font-family: 'lobster', curie, sans-serif;

                        li {
                            color: #fff;
                            font-size: 18px;
                            display: inline-block;
                            margin: 18px 0 0 0;
                            padding-left: 2rem;

                        }
                    }

                    .header__container__icons {

                        li {
                            color: #fff;
                            font-size: 18px;
                            display: inline-block;
                            margin: 18px 0 0 0;
                            padding-left: 2rem;

                            a {
                                color: $color;

                                font-size: 30px;
                                color: #fff;
                                margin: 12px 45px 0 0;
                                text-decoration: none;

                            }

                            :hover {
                                transition: all 2.0s ease;
                                background-color: #f36ad1;
                            }

                            .fa-brands.container_icon {
                                line-height: 46px;
                            }
                        }
                    }

                }

                /*Termina el Header*/
                .container_icon {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border: 2px solid #fff;
                    border-radius: 50%;

                    .fa-brands {
                        line-height: 46px;
                    }
                }
            }

            a:hover {
                transition: all 2.0s ease;
                background-color: #f36ad1;
            }
        }
    }
}