$colores:
#a33888,
#fff,
#f36ad1,
#1a1919,
#279292,
#2e2c2c,
#e684d0,
#a72095,
#f0bef1,
#fad6f1,
<<<<<<< HEAD
#db5fd7,
#2E2C2C;

$size:
20px,
=======
#db5fd7;

$size:
40px,
>>>>>>> 81543689cd7e67f2f71e4eef60cf0539384dd4e9
15px,
25px,
60px,
12px,
18px;
<<<<<<< HEAD
=======

>>>>>>> 81543689cd7e67f2f71e4eef60cf0539384dd4e9
