$header:(
    bg-header: grey,
    decoration:none,
    bordes: 2px solid purple,
)
$nav(
    bg-navegacion: #eeb8eb,
    tamaño-letra: font-size 30px,
    color-letra: color rgb(0, 0, 0),
    caja-sombra: box-shadow 0px 0px 10px rgba(0, 0, 0, 0.8),
    


)

