@mixin colores($colors, $ancho, $border) {
    background-color: $colors;
    width: $ancho;
    padding: $border;

}
.footer-index{
<<<<<<< HEAD
    @include colores(#a72095, 25%, 25px)
=======
    @include colores(#a72095, 100%, 25px)
>>>>>>> 81543689cd7e67f2f71e4eef60cf0539384dd4e9
}